#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
           default_layer {
            // ------------------------------------------------------------------------------------------
            // |  1  |  2  |  3  |
            // |  Q  |  W  |  E  |
            // |  A  |  S  |  D  |  F  |
            // |  Z  |  X  |  C  |  V  |
            // &kp Z  &kp X  &kp C
            // ------------------------------------------------------------------------------------------
            bindings = <
                &kp N1 &kp N2 &kp N3
                &kp Q  &kp W  &kp E
                &kp A  &kp S  &kp D  &kp F
                &kp Z  &kp X  &kp C  &kp V
            >;
        };
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
};
